<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000">
    <meta name="description" content="Simple ToDo list app">
    
    <title>ToDo</title>
    <style>
        body{font-family:sans-serif;padding-top:1em;padding-bottom:1em;font-size:2em;width:80%;margin:0 auto}article,button,div,input,p,section,select,textarea{display:block;width:100%;font-family:sans-serif;font-size:1em;margin:.5em}img#git-logo{width:7%;height:7%}.del{border:0}.done{text-decoration:line-through}button{width:auto}#check{size:20px}.untick{color:#f7f7f7}.ticksym{color:#2f00ff}.ticksym:hover{color:#4e4f81}.untick:hover{color:#4ca9c5}.ticbut{text-decoration:bold;text-align:center;vertical-align:top;background-color:#f7f7f7;border-color:#0026ff;border-width:1px;width:40px;height:40px;border-radius:100%}#bort{text-align:right;position:fixed;bottom:10px;right:10px}.d-hov:hover .ticksym{color:#4a7775}
    </style>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/fav.png">
    <link rel="icon" href="/fav.png">
</head>
<body>
    <main id="app">
        <h3 style=" padding:0% 0% 0% 0%; margin:0px">{{title}}</h3>
        <form @submit.prevent="addTodo">
            <label for="newTodo" style="width:auto; float: left; padding:0% 0% 0% 0%; margin:0px;">New Todo</label>
            <input autofocus="autofocus" v-model="newTodo" name=newTodo id =newTodo type=text style="width:50%; padding:0%; margin:0px 20px; border:0px 0px 1px 0px">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <button type="submit" name=button style="float: auto; padding:0%;margin:0px;width:auto;"><i class="material-icons">	&#xe03b;</i>Add </button>
        </form>
        <button @click="AllDone()" style="float: auto;"><i class="material-icons">&#xe877;</i>Mark all done</button><button @click="AllDel()" style="float: auto;"><i class="material-icons">delete</i>Delete All</button>
        <ul style="list-style-type:none;">
            <li v-for="todo in todos">
                <!--input type="checkbox" v-model=todo.done style="width:10px; float: left;" id=check --><button class="ticbut d-hov" v-if="todo.done == true" v-model="thistodo" id=tick @click="tTodo(todo)"><i class="material-icons ticksym">&#xe876;</i></button>
                <button class="ticbut n-hov" v-else v-model="thistodo" @click="tTodo(todo)">
                    <i class="material-icons untick">&#xe876;</i></button>
                </button>
                <span style="float: auto;" :class="{done : todo.done}">{{todo.title}}</span>
                <button class=del @click="rTodo(todo)" style="float: auto;"><i class="material-icons">delete</i></button>
            </li>
        </ul>
    </main>
    <div id=bort>
        <a href=https://github.com/modiaditya14/todo><img alt="github repo"src=Github.png id=git-logo></a>

    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="/vue.js"></script>
<script src=/index.js></script>

</body>
</html>
